asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.9
Django==6.0.7
django-embed-video==1.4.10
easy-thumbnails==2.10.1
easy_gui_prompt==2024.5.28
idna==3.18
jedi==0.20.0
paperclip==2.7.4
parso==0.8.7
pillow==12.3.0
prompt_toolkit==3.0.52
Pygments==2.20.0
pyperclip==1.11.0
python-magic==0.4.27
PyYAML==6.0.3
requests==2.34.2
sqlparse==0.5.5
toml==0.10.2
urllib3==2.7.0
wcwidth==0.8.2
